*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    background-color: rgb(95, 91, 91);
}
#container{
    display: flex;
    flex-direction: column;
    margin: 15vh 0 0 32vw;
    background-color: rgb(142, 131, 131);
    height: 40vh;
    width: 30vw;
    padding: 25px;
    border: 0.2px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 4px 7px rgb(28, 25, 25);
}
h1{
    text-align: center;
    margin: 0 0 2vh 0;
}

input{
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 1vh;
}
input:focus{
    outline:1.5px solid rgb(197, 4, 201);
}
button{
    width: 15vw;
    padding: 10px;
    font-weight: bolder;
    color: rgb(27, 23, 23);
    border: 0.25px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 4px rgb(86, 65, 65);
    margin-left: 7.5vw;
}

button:hover{
    cursor: pointer;
}

button:active{
    transform: translateY(2px);
    box-shadow: 0px 2px rgb(35, 27, 27);
}

/* display section */
.resultDisplay{
    padding: 5px;
    text-align: center;
}
p{
    font-weight: bolder;
    background-color: azure;
    margin: 1vh 0;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    letter-spacing: 1.5px;
    box-shadow: 2px 4px rgb(57, 56, 56);
}

.Zip-code-Examples{
    background-color: white;
    color: black;
    width: 30vw;
    padding: 25px;
    margin: 40px 0 0 32%;
    border-radius: 10px;
}

.Zip-code-Examples label{
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: underline;
}

.examples-list{
    margin: 10px 0 0 0;
    list-style: none;
}

/* Responsive UI is starts here */

@media (width<1300px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #container{
        margin: 10vh 0 0 0;
        transform: scale(1.15);
    }

    .Zip-code-Examples{
        transform: scale(1.15);
        margin: 60px 0 0 0;
    }
}

/* Tablet responsive code */
@media (width<800px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #container{
        margin: 5vh 0 0 0;
        transform: scale(2,1.1);
    }

    .Zip-code-Examples{
        transform: scale(2,1.1);
        margin: 70px 0 0 0;
    }
}

/* Mobile responsive code is here */

@media (width<500px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #container{
        margin: 5vh 0 0 0;
        transform: scale(2,1.1);
        height: 60vh;
    }

    .Zip-code-Examples{
        transform: scale(2,1.1);
        margin: 70px 0 20px 0;
        font-size: 14px;
    }
}

@media (width<400px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #container{
        margin: 5vh 0 0 0;
        transform: scale(1.75,1.05);
        height: 60vh;
    }

    button{
        width: 30vw;
        margin-left: 0;
    }

    p{
        padding: 10px 15px;
        font-size: 12px;
    }
    .Zip-code-Examples{
        transform: scale(1.75,1.05);
        margin: 70px 0 20px 0;
        font-size: 10px;
    }
}